$color-body: #f5f5f538;
$color-principal: #1B516A;
$color-shadow: #999;
$color-secundario: #EA8C8C;
$color-footer: #3B3B3B;

body{
    background-color: $color-body;
}

.header{
    width: 100%;
    min-height: 100vh;
    background-image: url(../imágenes/coast-540123_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

&:before{
    content: '';
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgb(34, 25, 36));

}

.bg-dark{
    position: fixed;
    z-index: 20;
    width: 100%;
}

@media (min-width: 768px){
    .bg-dark{
        background-color: transparent!important;
    }
}

.navg a{
    color: #f4f4f4!important;
    font-family: 'Roboto';
    font-size: 18px;
    padding: 8px 15px!important;
    text-align: center;
    margin: 15px 4px;
}

.navg a:hover{
    border-width: 0 0 3.5px ; 
    border-style: solid;
    border-radius: 2px;
}

.text-header{
    min-height: 100vh;
    color: #f4f4f4;
    font-family: 'Roboto';
}

.text-mine{
    font-family: 'Dancing Script';  
    font-size: 70px;    
    margin-bottom: 10px;
}

.p {
    font-size: 20px;
    opacity: 0.7;
}

.btn-mine{
    font-weight: bold;
    padding: 8px 50px;
    color: #f4f4f4;
    background-color: $color-principal;
    margin-top: 8px;
    box-shadow: 2px 2px 5px rgb(71, 71, 71);
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
}

.btn-mine:hover{
    background-color: #1b516aaf;
    color: #f4f4f4;
}

}

.fondo{
    background-image: url(../imágenes/fondo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

.iconos{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;

    .icono{
        height: 100px;
        width: 100px;
        border-radius:50%;
        background-color: #fff;
        box-shadow: 3px 3px 6px #999;
        margin: 1rem;
        border: 2px solid $color-secundario;
    }
}

#main{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
   
}

#empacamos{
    font-family: 'Roboto';
    font-size: 20px;
    text-indent: 20px;
    padding: 10px;
    margin: 0;
    background-color: $color-principal;
    width: 200px;
    color: #fff;
    border-radius: 0px 55px 55px 0px;
    -moz-border-radius: 0px 55px 55px 0px;
    -webkit-border-radius: 0px 55px 55px 0px;
    border: 0px solid #000000;
    text-align: center;
}

.main2{
    font-family: 'Roboto';
    font-size: 16px;
    padding: 8px;
    margin: 2rem;
    text-align: center;
    background-color: white;
    width: 450px;
    color: $color-footer;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 2px solid #EA8C8C;
    justify-self: center;
}

.check{
    height: 40px;
    width: 40px;
    border-radius:50%;
    background-color: #fff;
    box-shadow: 2px 2px 5px $color-shadow;
    margin: 2rem;
    justify-self: end;
}

.check2{
    color: #3b3b3b70; 
    position: relative;
    align-content: center;
}


.arrow{
    transform: rotate(180deg);
    margin: 2rem;
    justify-self: start;
    align-self: center;
}


#forma{
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    box-shadow: 2px 2px 5px #3B3B3B;
}

#frase{
    background-color: $color-principal;
    padding: 45px;
    box-shadow: 2px 2px 5px $color-shadow;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

#cita{
    font-family: 'Dancing Script';
    font-size: 45px;
    color: $color-principal;
    letter-spacing: 1px; 
}


#autor{
    font-family: 'Dancing Script';
    font-size: 25px;
    color: $color-principal;
    letter-spacing: 1px; 
    
}

}

footer{

#timetotravellers{
    font-family: 'Dancing Script';
    font-size: 22px;
}
.footer-texto{
    font-family: 'Roboto';
    font-size: 14px;
}
.footer-texto2{
    font-family: 'Roboto';
    font-size: 17px;
}

}

#footer-2{
    background-color: #383838;
    border-width: 3.5px 0 0; 
    border-style: solid;
    border-color: $color-secundario;
    font-family: 'Dancing Script';
    text-shadow: 1px 1px 2px rgb(124, 124, 124);
    font-size: 24px;
}

.form{
    width: 500px;
	height: auto;
	margin: 7% auto;
	padding-bottom: 1rem;

    .form2 {
        width: 100%;
        text-align: center;
        padding: 2rem 0;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
        border-top: solid .4rem $color-principal;
        margin-bottom: 1rem;
    }

    .form2 h2 {
        font-family: 'Roboto';
        color: $color-footer;
        font-weight: lighter;
    }
    

    h2 span {
        font-family: 'Dancing Script';
        font-size: 24px;
        color: $color-principal;
        text-shadow: 1px 1px 1px #999;
    }

    #consulta {
        padding: 0 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #boton{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    .campo{
        background-color: #f5f5f538;
        padding: .5rem;
        margin: .5rem 0;
        border: none;
        border-bottom: solid #DBDBDB .15rem;
        transition: all .5s;

        &:focus{
            border-bottom: solid $color-principal .2rem;
        }
    }

    #enviar {
        width: 35%;
        background-color: $color-principal;
        font-family: 'Roboto';
        color: white;
        padding: .45rem;
        border-radius: 20px 20px 20px 20px;
        -moz-border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
        border: none;

        &:hover{
            background-color: #3F7087;
        }
    }
}

section{
    
    .row-redsocial{
        width: 100%;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
    }
    
    .width{
        width: 80%;
        padding: 8px 25px;
    }
    
    .letter-login{
        font-family: 'Dancing Script';
        font-size: 24px;
        color: $color-principal;
        text-shadow: 1px 1px 1px $color-shadow;
    }

    .btn-mine{
        font-weight: bold;
        padding: 8px 50px;
        color: #f4f4f4;
        background-color: $color-principal;
        margin-top: 8px;
        box-shadow: 2px 2px 5px rgb(71, 71, 71);
        border-radius: 30px 30px 30px 30px;
        -moz-border-radius: 30px 30px 30px 30px;
        -webkit-border-radius: 30px 30px 30px 30px;
    }
    
    .btn-mine:hover{
        background-color: #1b516aaf;
        color: #f4f4f4;
    }
    
    .btn-mine-2{
        font-weight: bold;
        padding: 8px 50px;
        color: $color-principal;
        background-color: #fff;
        margin-top: 8px;
        box-shadow: 2px 2px 5px rgb(71, 71, 71);
        border-radius: 30px 30px 30px 30px;
        -moz-border-radius: 30px 30px 30px 30px;
        -webkit-border-radius: 30px 30px 30px 30px;
        border: 2px solid $color-principal;
    
        &:hover{
            color: #1b516aaf;
            border: 2px solid #1b516aaf;
        }
    }
    
    .btn-mine-3{
        font-weight: bold;
        padding: 8px 50px;
        color: #fff;
        background-color: $color-principal;
        margin-top: 8px;
        box-shadow: 2px 2px 5px rgb(71, 71, 71);
        border-radius: 30px 30px 30px 30px;
        -moz-border-radius: 30px 30px 30px 30px;
        -webkit-border-radius: 30px 30px 30px 30px;
        opacity: 0.7;
    
        &:hover{
            background-color: #1b516aaf;
            color: #f4f4f4;
            opacity: 0.7;
        }
    }
    
    .wave{
        position: fixed;
        min-height: 100%;
        left: 0;
        bottom: 0;
    }
    
    .border-login{
        border-right: 1px solid #ea8c8c46;
        border-right-width: thin;   
    }
    
    }

    .header-guia{
        width: 100%;
        max-height: 80vh;
        background-image: url(../imágenes/river.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    
    &:before{
        content: '';
        width: 100%;
        min-height: 80vh;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgb(34, 25, 36));
    
    }
    
    .bg-dark{
        position: fixed;
        z-index: 20;
        width: 100%;
    }
    
    @media (min-width: 768px){
        .bg-dark{
            background-color: transparent!important;
        }
    }
    
    .navg a{
        color: #f4f4f4!important;
        font-family: 'Roboto';
        font-size: 18px;
        padding: 8px 15px!important;
        text-align: center;
        margin: 15px 4px;
    }
    
    .navg a:hover{
        border-width: 0 0 3.5px ; 
        border-style: solid;
        border-radius: 2px;
    }
    
    .navg a:hover{
        border-width: 0 0 3.5px ; 
        border-style: solid;
        border-radius: 2px;
    }
    
    .text-header{
        min-height: 80vh;
        color: #f4f4f4;
        font-family: 'Dancing Script';
    }
    .text-mine-guia{
        font-size: 65px;
    }
    }